
table.m-table{
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    background-color: #fff;
}

table.m-table tr{
    border-bottom: 1px solid #dddddd;
}

table.m-table  tbody tr:nth-child(odd){
    background-color: #f6f6f6;
}

table.m-table  tbody tr:nth-child(odd):hover{
    background-color: #E9EBEE;
}

table.m-table tr:hover{
    background-color:#E9EBEE ;
    cursor: pointer;
}

table.m-table thead tr:hover{
    background-color: transparent;
}

th, td{
    padding: 0 8px;
}

th{
    padding: 20px 0 ;
    font-size: 24px;
}

tr img{
    width: 100px;
    padding: 4px 0;
}


.m-td-capi{
    text-transform: capitalize;
}


.m-btn{
    text-decoration: none !important;
}